PLATFORM_HOST=localhost
PLATFORM_PORT=8080
PLATFORM_SCHEME=http
ENABLE_HTTPS=false

TODO_API_HOST=127.0.0.1
TODO_API_PORT=8000
TODO_API_SCHEME=http

CALC_API_HOST=127.0.0.1
CALC_API_PORT=8002
CALC_API_SCHEME=http

TODO_MCP_HOST=localhost
TODO_MCP_PORT=8001
TODO_MCP_SCHEME=http

CALC_MCP_HOST=localhost
CALC_MCP_PORT=8003
CALC_MCP_SCHEME=http

SSL_CERT_PATH=certs/server.crt
SSL_KEY_PATH=certs/server.key
